.sort_wrapper {
   display: flex;
   white-space: nowrap;
   
   @media(max-width: 370px) {
      display: none;
   }
}

.sort {
   display: flex;
   position: relative;
   padding: 0 10px;

   &_type {
      padding: 0 5px;
      color: orangered;
      text-decoration: underline;
      cursor: pointer;
   }
   
   &_popup {
      width: 80px;
      position: absolute;
      right: 5px;
      top: 20px;
      border-radius: 5px;
      line-height: 25px;
      text-align: center;
      z-index: 5;
   
      background-color: rgb(195, 195, 255);
      cursor: pointer;

      & li:hover {
         background-color: rgb(255, 190, 190);
         border-radius: 5px;
      }
   }

   @media(max-width: 955px) {
      padding: 0px;
   }
}
