.categories {
  display: flex;

  @media(max-width: 530px) {
    position: absolute;
    display: block;
    top: 30vh;
    left: 0vw;
  }
}

.category {
  position: relative;
  padding: 5px 10px;
  margin: 15px 20px;
  white-space: nowrap;
  background-color: var(--category-color);
  border-radius: 20px;
  z-index: 4;

  cursor: pointer;

  &:hover {
    background-color: var(--active-hover);
    color: var(--active-text);
  }

  @media(max-width: 955px) {
    margin: 10px 5px;
  }
}

