.theme_wrapper {
   position: relative;
   display: flex;
   justify-content: center;
   font-size: 14px;
   width: 150px;
}

.theme {
   display: flex;
   padding: 0 5px;

   &_type {
      padding: 0 5px;
      color: orangered;
      text-decoration: underline;
      cursor: pointer;
   }
   
   &_popup {
      width: 80px;
      position: absolute;
      left: 60px;
      bottom: 20px;
      border-radius: 5px;
      line-height: 25px;
      text-align: center;
   
      background-color: rgb(195, 195, 255);
      cursor: pointer;

      & li:hover {
         background-color: rgb(255, 190, 190);
      }
   }
}
